doctype html
html(lang='en')
   head
      title SecondExample
      meta(charset='charset')
      meta(name='viewport',content='width=device-width, initial-scale=1')
      link(rel="styleSheet" type="text/css" href="scroll/css/scroll.css")
   body(data-spy='scroll',data-target='#first',data-offset='20')
      .container
         .row
            nav#first.col-md-3
               ul.nav
                  li.active
                     a(href='#colors') Colors
                  li
                     a(href=f='#buttons') Buttons
                     ul.second
                        li
                           a(href="#minibuttons") minibuttons
                        li
                           a(href="#middlebuttons") middlebuttons
                        li
                           a(href="#maxbuttons") maxbuttons
                  li
                     a(href='#panels') Panels
                     ul.second
                        li
                           a(href="#minipanels") minipanels
                        li
                           a(href="#middlepanels") middlepanels
                        li
                           a(href="#maxpanels") maxpanels
            .col-md-9.content
               #colors
                  include scroll/jade/colors
               #buttons
                  include scroll/jade/buttons
               #panels
                  include scroll/jade/panels
      script(type="text/javascript" src="bower_components/jquery/dist/jquery.js")
      script(type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js")